#logotext{
    font-family: 'IBM Plex Serif', serif;
    font-size: 4.5vmin; 
    font-weight: 600;
    font-style: italic  bold;
    margin-right: 7%; }

    #searchBox{
        margin-right: 0px !important;
        border-right: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
      }
      #navbarTogglerDemo02 ul>li{
        font-family: 'Merienda', cursive;
        font-style: bold;
      }
    
      .dropdown-menu  > a:hover, .dropdown-menu > a:focus {
          background-color:#e8fced; }
    
      .dropdown-item:active{
          background-color: #92eec0; }
@media  screen and (min-width: 900px) {
    #navbarIcon{
        padding-bottom: 6px;
        padding-top: 6px;}     
     #navbarTogglerDemo02 a{font-size: 18px; font-weight: 400;}
     
        
        }

@media screen  and (max-width: 900px) and (min-width: 661px){   

    #navbarIcon{
        padding-bottom: 6px;
        padding-top: 6px;}

      .navbar{
        padding-top:2px;
        padding-bottom:2px;}
        #navbarTogglerDemo02 a{font-size: 16px; font-weight: 400;}
        }
 @media screen and (max-width: 660px) and (min-width: 321px){ 
    .navbar{
        padding-top:2px;
        padding-bottom:2px;}
    #navbarTogglerDemo02 a{font-size: 16px; font-weight: 400;}
    

 }

 @media only screen and (max-width: 320px) {
    .navbar{
        padding-top:0px;
        padding-bottom:0px;
        padding-right: 10px;
        padding-left: 10px; }
        #navbarTogglerDemo02 a{font-size: 16px; font-weight: 400;}
        .text-area{margin-bottom: 1%;}

    #myfooter #links a{font-size: 10px;}
    #copyright{font-size: 9px;}
    #myfooter{
        padding-top: 0px;
        padding-bottom: 0px;
    }
 }

 @media screen and (max-width: 580px){
    #searchBox{display: none}
    .navbar{
        padding-top:2px;
        padding-bottom:2px; }

      .search-button{
        border-width: 0px; }
 }

 @media screen and (min-width: 579px){
    .search-button{
        padding-left: 0px;
        border-bottom:1px;
        border-top:1px; 
        border-right: 1px;
        margin:0px;
        border-left: 0px;
        background-color: #28a745;
        padding:7px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;}
 }

 @media screen and (max-width:991px){
    #toggler1{
       margin-left: 5px;}
 }
 #myfooter a{
    color:whitesmoke;
    margin: .5em;    
 }

 #myfooter .form-inline small{
     margin-right: 3%;
     margin-left: 3%;
     text-align: center;
 }

 #myfooter a:hover{
     color: #8bf8ed;
 }


   

   