 {% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


    {% block title %}LogIn{% endblock title %}

    {% block links%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock links%}
    {% block extra_Style%}
       .footer { 
           display: none;
         }
         @media  screen and (min-width: 901px){
              body{
             padding-top:8%;
                        }
         }
         @media screen  and (max-width: 900px) and (min-width: 661px){
                      body{
             padding-top:12%;
         }
          }
         @media screen and (max-width: 660px) and (min-width: 321px){
                  body{
             padding-top:14%;
         }
          }
        @media only screen and (max-width: 320px) {
                body{
             padding-top:18%;
         }
        }


          {% endblock extra_Style%}
    
    {% block content %}
    <div class = "content-section jumbotron container" style="background-color:white">
    <form method="POST">
    {% csrf_token %}
    <fieldset class ="form-group">
    <legend class ="border-bottom mb-4">Log In!</legend>
    {{ form|crispy }}
    </feildset>
    <div class = "form-group">
        <button class = "btn btn-outline-info" type="submit" >Sign In!</button>
        </div>
    </form>
 
    <div class="border-top pt-3">
        <small class = "test-muted">Need an Account?<a class ="ml-2" href="{url 'signUp'}">Sign Up</a>
        </small>
    </div>

    </div>
    {% endblock content%}