{% extends 'base.html' %}
{% block title %}LogOut{% endblock title %}

{% block extra_Style %}
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-top:10px;
        }

  @media  screen and (min-width: 901px){
        body{
        padding-top:4%;
                }
                        }

@media screen  and (max-width: 900px) and (min-width: 661px){
                      body{
             padding-top:7%;
         }
      
    }
@media screen and (max-width: 660px) and (min-width: 321px){
        body{
             padding-top:10%;
         }
        .content-section h2{
        font-size: 22px;
    }
         
            }

    
@media only screen and (max-width: 450px) and (min-width: 350px){
    body{
             padding-top:18%;
         }
    .content-section h2{
        font-size: 20px;
    }
    .content-section p{
        font-size: 14px;
    }
}
@media only screen and (max-width: 350px){
    body{
            padding-top:22%;}

    .content-section h2{
        font-size: 16px;
    }
    .content-section p{
        font-size: 12px;
    }

}
        
</style>
{% endblock extra_Style %}

{% block content %}

    <div class = "content-section jumbotron container" style="background-color:white"> 
            <div class="border-top pt-3">
            <h2> You have been logged 0ut</h2>
                <p class = "test-muted"><a href="{% url 'users:login' %}"><span style=" color: #F49F0A; font-weight:600;">Login</span>  again?</a></p>
            </div>

    </div>
{% endblock content %}