
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}signUp{% endblock title %}
{% block extra_Style %}
<style>
    .footer {
            display:none;}
        
@media  screen and (min-width: 901px){
    body{
    padding-top:4%;
            }
                    }

@media screen  and (max-width: 900px) and (min-width: 661px){
                    body{
            padding-top:7%;
        }
    
}
@media screen and (max-width: 660px) and (min-width: 321px){
    body{
            padding-top:10%;
        }
        
     }


@media only screen and (max-width: 450px) and (min-width: 350px){
body{
            padding-top:18%;
        }
}
@media only screen and (max-width: 350px){
body{
        padding-top:22%;}

}    
</style>
{% endblock extra_Style %}



{% block content %}
    <div class = "content-section jumbotron container" style="background-color:white">
    <form method="POST">
    {% csrf_token %}
    <fieldset class ="form-group">
    <legend class ="border-bottom mb-4">Join Today!</legend>
    {{ form|crispy }}
    </feildset>
    <div class = "form-group">
        <button class = "btn btn-outline-info" type="submit" >Sign Up!</button>
           <div>
     <small class = "test-muted">By creating an account you agree to our<a class ="ml-2" href="{% url 'users:terms'%}">Terms & Privacy.</a></small>
    </div>
        </div>
    </form>
 
    <div class="border-top pt-3">
        <small class = "test-muted">Already Have an Account?<a class ="ml-2" href="{% url 'users:login'%}">sign In</a></small>
    </div>

    </div>

{% endblock content %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();
      $.ajax({
        url: "{% url 'users:validate_user' %}",
        data:{
            'username':username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            $("#hint_id_username").text("username taken!").css("color", "red");
          }
          else
          {
              $("#hint_id_username").text("username available! ").css("color", "green");
          }
        }
      });

    });

previousVal = "";
function InputChangeListener()
{
  if($('id_username').val()
     != previousVal)
  {
   previousVal  = $('#id_username').val();
   $('#id_username').change();    
  }
}
setInterval(InputChangeListener, 1500);
  </script>
{% endblock javascript %}